body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('https://logowik.com/content/uploads/images/laravel8530.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.logo {
    display: flex;
    align-items: center;
    color: #e33b24;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.menu {
    font-size: 18px;
    color: #fff;
}

.image-section {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.image-section img {
    width: 20%;
    border-top-right-radius: 0cm;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.three-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}

.three-images img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.img-text {
    display: flex;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.img-text .image {
    flex: 1;
    padding-right: 20px;
}

.img-text .image img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.img-text .text {
    flex: 2;
}

.testimonio {
    padding: 20px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.Ubicacion {
    text-align: left;
}
